body {
    padding: 0;
    margin: 0 auto;
    max-width: 1200px;
    font-family: 'Source Sans Pro';
}
/* here starts the header CSS */
header {
    background: url(assets/DesktopBackground.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 30px 0px 200px 0px;

    position:relative;
}
.dots-and-lines {
    background: url(assets/Dots_and_lines.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    position: absolute;
    top: 0;

    width: 100%;
    height: 100%;

    
    animation-duration: 2s;
    animation-name: fadeInOut;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.little-dots {
    background: url(assets/Union.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    position: absolute;
    transform-origin: right;
    top: 0;
    width: 100%;
    height: 100%;
    
    animation-duration: 2s;
    animation-name: moveLeftToRight;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}
nav {
    display: flex;
    width: 100%;
    align-items: center;
}
nav ul{
    display: flex;
    flex-direction: row;
    width: 100%;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    margin: 0;
}
nav ul li {
    padding: 0px 32px 0px 0px;
}
.nav-menu a {
    color: #FFFFFF;
    text-decoration: none;
}
.identifier {
    /* PROJECT */
    width: 50%;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
}
.identifier a {
    color: #FFFFFF;
    text-decoration: none;
}   
.header-elements-container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 180px 0px 15px;
}
h1 {
    /* Main headline */
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #FFFFFF;
}
.mainsubheadline {
    /* Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod. */
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
}
.anime-logo {
    transition: all 1s;
    transition-timing-function: ease-in-out;
    z-index: 1;
}
.anime-logo:hover {
        transform:rotateY(-180deg);
        scale: 1.82;
}


/* Here starts the Main content box */
article {
    width: 100%;
    background: #EEEEEE;
    font-style: normal;
}
article > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 90px 0px;
}
article h2 {
    /* This is the Section Headline, Continues to Two Lines */
    font-family: 'Oswald';
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #464547;
    margin: 0;
}
article h3 {
    /* Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod. */
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #666666;
    padding: 50px 0px 50px 0px;
}
article div div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
}
article div p {
    text-align: left;    
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #666666;
    margin-block-start: 0px;
    margin-block-end: 0px;
}
article div p:first-child {
    padding-left: 150px;
}

article div p:last-child {
    padding-right: 150px;
}
.readmore {
    /* READ MORE */
    padding: 8px 17.5px;
    margin: 25px 0px 0px;
    font-family: 'Oswald';
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #55C2D8;
    border-radius: 18px; 
    border-width: 0px;  
    transition: all 1s; 
    transform-origin: left;
}
.readmore:hover {
    transform: rotate(12deg)
}

/* Here ends the main box and starts the media box*/
.media-content {
    width: 100%;
    height: 666px;
    background: url(assets/imageConference.png);
    background-size: cover;
    background-repeat: no-repeat; 
}
.media-content .media-container {
    width: 100%;
    height: 100%;
    background-color: rgba(140, 79, 42, 0.3);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.media-content .media-container h2 {
    /* Learn more about our culture... */
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #FFFFFF;
    margin-block-start: 0px;
    margin-block-end: 0px;
}
.media-content .media-container h3 {
    /* Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. */
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    margin-block-start: 0px;
    margin-block-end: 0px;
}
.media-container div {
    width: 145px;
    height: 145px;
    border-radius: 50%;
    background-color: #39C2D7;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px 0px 60px;  
    transition: all 1s;
}
.play-icon {
    /* play-icon */
    width: 100%;
    height: 100%;
    padding-left: 22PX;
    font-size: 70px;
    background: transparent;
    color: #FFFFFF;
    border-width: 0px;
    transition: all 1s;
}
.play-icon:hover {
    transform: scale(0.9);
    color: #39C2D7;
}
.media-container div:hover {
    transform: scale(0.9);
    background-color: #FFFFFF;

}

/* Here starts the Footer and ends the media box */
footer {
    width: 100%;
    background: #464547;
}
.footer-head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 39px 150px 74px;
    
}
.footer-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    align-self: self-start;
}
.footer-head span {
    /* PROJECT */ 
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 400;
    font-style: normal;
    padding-left: 15px;
}
address {
    /* 123 Street, Anytown, USA 12345 */
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.4);
    flex-grow: 2;
}
.email {   
    /* hello@website.com */

    text-decoration: none;
    font-style: normal;
    color: rgba(255, 255, 255, 0.4);
    font-size: 16px;
    line-height: 19px;
}
.copy-right {
    /* © 2021 Project. All rights reserved */
    font-size: 16px;
    line-height: 19px;
    align-self: flex-end;
    color: rgba(255, 255, 255, 0.4);
    flex-grow: 1;
}
@keyframes fadeInOut {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes moveLeftToRight {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.07);
        

    }
}


@media screen and (max-width: 768px) {
    body {
        padding: 0;
        margin: 0 auto;
        max-width: 768px;
        font-family: 'Source Sans Pro';
    }
    /* here starts the header CSS */
    header {
        align-items: center;
        padding: 30px 0px 200px 0px;
    }
    .dots-and-lines {
        animation-duration: 2s;
        animation-name: fadeInOut;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    .little-dots {
        animation-duration: 2s;
        animation-name: moveLeftToRight;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    nav ul{
        width: 0%;
        scale: 0;
    }
    nav ul li {
        padding: 0px 0px 0px 0px;
    }
    .nav-menu a {
        color: #FFFFFF;
        text-decoration: none;
    }
    .nav-menu_button {
        width: 22px;
        display: flex;
        flex-direction: column;
        gap: 4px;
        padding-right: 38px; 
    }
    .nav-menu_button div {
        width: 100%;
        height: 3px;
        background-color: #FFFFFF;
    }

    .identifier {
        /* PROJECT */
        text-align: left;
        flex-grow: 2;
        padding-left: 38px;
    }
    .header-elements-container {
        padding: 180px 0px 15px;
    }
    /* Here starts the Main content box */
    article > div {
        padding: 70px 0px;
    }
    article div div{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
    }
    article div p:first-child {
        padding-left: 0px;
        padding: 0px 40px;
    }
    article div p:last-child {
        padding-right: 0px;
        padding: 0px 40px;
    }
    /* Here ends the main box and starts the media box*/
    .media-content {
        width: 100%;
        background: url(assets/imageConference.png);
        background-size: cover;
        background-repeat: no-repeat; 
    }
    /* Here starts the Footer and ends the media box */
    .footer-head {
        flex-direction: column;
        align-items: center;
        padding: 58px 150px 74px;
    }
    .footer-logo {
        align-self: center;
        padding-bottom: 31px;
    }
    .footer-head span {
        /* PROJECT */
        padding-left: 15px;
    }
    address {
        /* 123 Street, Anytown, USA 12345 */
        text-align: center;
        padding-bottom: 19px;
    }
    .copy-right {
        /* © 2021 Project. All rights reserved */
        text-align: center;
        align-self: center;
    }
    @keyframes fadeInOut {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    @keyframes moveLeftToRight {
        from {
            transform: scale(1);
        }
        to {
            transform: scale(1.1);
            
    
        }
    }
}