//bg images
$bg-blue: url('../assets/DesktopBackground.png');
$bg-dots-and-lines: url('../assets/Dots_and_lines.png');
$bg-little-dots: url('../assets/Union.png');
$bg-conference: url('../assets/imageConference.png');
$logo-img: url('../assets/logo.png');