// fonts
$tittles: 'Oswald';
$main_font: 'Source Sans Pro';

// colors
$white: #FFFFFF; //other text
$lighter_white: rgba(255, 255, 255, 0.7); //header sub text
$dim_white: rgba(255, 255, 255, 0.4);// footer info
$Payne_Grey: #464547; //main section tittle, footer bg
$Dim_Gray: #666666; //main section content

//back gound
$light_blue: #55C2D8; //buttons and logo
$dim_brown: rgba(140, 79, 42, 0.3); //media mask
$darker_white: #EEEEEE; //mian artible bg